.navbar{
    position:fixed;
    height: 100vh;
    min-height: 500px;
    width:80px;
    background: linear-gradient( 180deg, var(--navbarblue) 50%, transparent );
    box-shadow: 8px 0px 8px 0px rgba(37, 199, 199 ,1);
    transition: box-shadow ease-in-out infinite ;
    /* -webkit-box-shadow: 5px 0px 5px 0px rgba(37, 199, 199 ,1); /*hexa színkód: #25c7c7 */
   /* -moz-box-shadow: 5px 0px 5px 0px rgba(37, 199, 199 ,1); */
} 
@keyframes boxshadow{
    from {box-shadow: 2px 0px 2px 0px rgba(37, 199, 199 ,0.5);}
  to {box-shadow: 8px 0px 8px 0px rgba(37, 199, 199 ,1);}
}

#logo-img{
width: 45px;
height: 45px;
clip-path: circle(50%);
margin: 20px 1.4rem;
aspect-ratio: 4/3;
object-fit: cover;
}
 button{
     position: absolute;
    width:50px;
    height:50px;

 }
.navElement {
    font-size: 2.5rem !important;
    margin-bottom:3.5rem !important;
    top: 5vh;

}

.navElement:hover {
    color: #fff ;
    
}
.bottomLinks{
    margin-bottom:1.5vh !important;
    font-size: 2.5rem !important;
    bottom: 3vh;
    max-height: 3vh;
    position: relative;
}
.downNav{
    font-size: 2.5rem !important;
margin-bottom: 1.5rem !important;
}
.downNav:hover {
    color: #fff ;
    
}
