.navbar{
    position:absolute;
    height: 100vh;
    min-height: 500px;
    width:80px;
    background: linear-gradient( 180deg, #15adad 50%, transparent );
    -webkit-box-shadow: 5px 0px 5px 0px rgba(37, 199, 199, 1); /*hexa színkód: #25c7c7 */
    -moz-box-shadow: 5px 0px 5px 0px rgba(37, 199, 199, 1);
    box-shadow: 5px 0px 5px 0px rgba(37, 199, 199, 1);
} 
#logo-img{
    width:60px;
    height: 60px;
    clip-path: circle(40%);
    margin:20px 10px;
}
 button{
    font-size: 32px;
    width: 80px;
    height: 80px;
    display: block;
    justify-content: center;
    align-items: center;
}
.navElement {
    position: relative;
    font-size: 1.5rem;
    top: 0px;
    margin-bottom: 0.5rem;
}

.navElement:hover {
    color: #fff ;
    
}