@font-face {
    font-family: display_ita ;
    src: url('../../assets/fonts/Display-Italic.ttf');
}
@font-face {
    font-family: display_reg ;
    src: url('../../assets/fonts/Display-Regular.ttf');
}
.shortIntro{
    width: 90%;
    height: 300px;
    margin:0 8%;
}
.shortIntro > img{
    margin:0 auto;
    width: 90%;
    max-width:1244px ;
    opacity: 0.5;
}