.mindset{
    /* margin: 40px 30rem; */
    color:#fff;
}
#mindsetText{
    position: absolute;
    left: 30rem;
    width: 75ch;
    height: 500px;
    text-align: left;
    line-height: 1.4rem;
    font-size: 1.1rem;
}
#myImg{
    width:15rem;
    height: auto;
    clip-path: circle(40%);
    margin-left:3rem;
}